body {
	margin: 0;
	padding: 0;
	background-image: url('../images/background/cc_background03.jpg');
	background-repeat: repeat;
	background-position:center center;
	background-attachment:scroll;
	background-size: 100% 100%;
	height: 956px;
}

#wrapper {
	/*height: 100%;*/
}

#content {
    padding-top: 20px;
	
}

h1 {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 21px;
    color: #FFFFFF;
    font-weight: bold;
}

h2 {
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 18px;
    color: #00481c;
    font-weight: bold;

}

p {font-family: Trebuchet MS, Helvetica, sans-serif
font-size: 12px;
    color: #00481c;
}


.crumb-nav {
    padding-top: 130px;
    padding-left: 25px;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 12px;
    color: #FFFFFF;
}

.crumb-nav a {
    color: #FFFFFF;
    text-decoration: none;
}

.crumb-nav a:hover {
    text-decoration: underline;
}


#nav {
    width: 550px;
    top:100px;
    float: left;
    padding-left: 500px;
    clear: left;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 18px;
    color: #FFFFFF;


}

a {
    color: #FFFFFF;
    text-decoration: none; // changed from text-decoration:underline
}

a:link    {color:white;}
a:visited {color:white;}
a:hover   {text-decoration: underline; // changed from text:decoration:none}
a:active  {color:white;}


#table {
    width: 100%;
    padding-top: 300px;

    text-align: center;
    height: 675px;
    clear: both;

}

th, td {
    width: 100px;
    height: 50px;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 32px;
    color: #FFFFFF;
    text-decoration: none;
    padding-right: 50px;


}


.header {
	margin: auto;
	width: 625px;
    float: left;
    padding-left: 400px;
    padding-top: -100px;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    text-align: left;
    font-size: 14px;
    color: #FFFFFF;

}

.gallery {
	width: 100%;
    padding-top: 17px;
	text-align: center;
	height: 675px;
    clear: both;
}


#nav {
    width: 100%;
    padding-top: 300px;
    text-align: center;
    height: 675px;
    clear: both;
}

#next-btn {
	position: absolute;
	top: 475px;
	width: 100px;
	height: 670px;
	right: 50px;
}

#next-btn:hover {

}

#right-arrow {
	position: absolute;
	top: 290px;
	right: 40px;
	display: none;
}

#prev-btn {
	position: absolute;
	top: 475px;
	width: 100px;
	height: 670px;
	left: 50px;
}



#left-arrow {
	position: absolute;
	top: 290px;
	left: 40px;
	display: none;
}

#footer {
	position:absolute;
	top:760px;
	text-align: center;
	color: white;
	width: 100%;
}

#footer a {
	color: white;
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}