html {
    font-size: 1em;
    line-height: 1;
}

html,body {
    font-size: 12px;
    background-color: #ffffff;
    padding:0;
    margin: 0;
    max-width: 1984px;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}


body {
	margin: 0;
	padding: 0;
	background-image: url('../img/bcg/ccPort_bcg.jpg');
	background-repeat: repeat;
    background-attachment:fixed;
    background-size: cover;
    overflow: hidden;

}

#wrapper {
	height: 100%;
}

#content {
    width: 100%;
    height: auto;
}


/*-----------------------------------------------------
  Font Styles
  -----------------------------------------------------*/

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #a7a9ab;
    font-weight: bold;
    letter-spacing: 1px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    color:#a7a9ab;
    font-weight: bold;
    letter-spacing: 1px;

}

h3 {
    font-family: 'Pinyon Script', cursive;
    font-size: 3em;
    color:#a7a9ab;
    font-weight: bold;
    letter-spacing: 1px;
}

h4 {
    font-family: 'Playfair Display', serif;
    font-size: 1.25em;
    color: #a7a9ab;
    font-weight: normal;
    letter-spacing: 4px;
}

h5 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color:#a7a9ab;
    font-weight: normal;
    letter-spacing: 5px;
}

p {font-family: 'Tenor Sans', sans-serif;
    font-size: 1em;
    color: #a7a9ab;
    letter-spacing: 1px;
}

/*-----------------------------------------------
  Navigation
  -----------------------------------------------*/


.crumb-nav {
    position: absolute;
    top: 5%;
    left: 12%;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 12px;
    color: #a7a9ab;
}

.crumb-nav a {
    color: #a7a9ab;
    text-decoration: none;
}

.crumb-nav a:hover {
    text-decoration: underline;
}


a {
    color: #a7a9ab;
    text-decoration: none; // changed from text-decoration:underline
}

a:link    {color:#a7a9ab;}
a:visited {color:#a7a9ab;}
a:hover   {text-decoration: underline; // changed from text:decoration:none}
a:active  {color:#a7a9ab;}

#next-btn {
    position: absolute;
    top: 375px;
    width: 10px;
    height: 40px;
    right: 20px;
}

#right-arrow {
    position: absolute;
    top: 290px;
    right: 20px;
    display: none;
}

#prev-btn {
    position: absolute;
    top: 375px;
    width: 10px;
    height: 40px;
    left: 20px;
}



#left-arrow {
    position: absolute;
    top: 290px;
    left: 20px;
    display: none;
}

#footer {
    position:absolute;
    top:90%;
    left: -2%;
    padding-top: 20px;
    text-align: center;
    color: #a7a9ab;;
    width: 100%;
}

#footer a {
    color: #a7a9ab;
    text-decoration: none;
}

#footer a:hover {
    text-decoration: underline;
}


#nav {
    position: absolute;
    width: 100%;
    height: auto;
    top: 40%;
    left: 38%
}

#navCol01{
    position: relative;
    width: 100%;
    height: auto;
    top: 5px;
    left: 5px;
    font-family: Playfair Display, serif;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: left;
    clear: right;
}

#navCol02{
    position: relative;
    width: 100%;
    height: auto;
    top: -78px;
    left: 250px;
    font-family: Playfair Display, serif;
    font-size: 28px;
    letter-spacing: 1px;
    text-align: left;
    clear: left;

}

/*-------------------------------------------------------
   Gallery
   ------------------------------------------------------*/

.gallery{
    position: absolute;
    width: 650px;
    height: 650px;
    top: 30%;
    left: 25%;
    text-align: center;
}


.header {
    position: relative;
	width: 650px;
    left: 10%;
    top: -30%;
    text-align: center;
    font-size: 18px;
    color: #a7a9ab;
    z-index: 5;
}

.img {
    position: relative;
    width: 100%;
    height: auto;
    left: 10%;
    top: 5%;
    text-align: center;
    z-index: 6;
}

/*-----------------------------------------------
  Index page Identity
  ------------------------------------------------*/

#logo {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: -5%;
    text-align: center;
    clear: both;
}

/* ---------------------------------------------
   Resize Images
   --------------------------------------------- */

.resizable {
    width: 500px;
    height: 500px;
}


img.ri-1
{
    position: absolute;
    max-width: 10%;
    top: 10%;
    left: 10%;
}

img.ri-1:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-2
{
    position: absolute;
    max-width: 20%;
    top: 10%;
    left: 10%;
}

img.ri-2:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-3
{
    position: absolute;
    max-width: 30%;
    top: 10%;
    left: 10%;
}

img.ri-3:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-4
{
    position: absolute;
    max-width: 40%;
    top: 10%;
    left: 10%;
}

img.ri-4:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-5
{
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
}

img.ri-5:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-6
{
    position: absolute;
    max-width: 60%;
    top: 10%;
    left: 10%;
}

img.ri-6:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-7
{
    position: absolute;
    max-width: 70%;
    top: 10%;
    left: 10%;
}

img.ri-7:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-8
{
    position: absolute;
    max-width: 80%;
    top: 10%;
    left: 10%;
}

img.ri-8:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img.ri-9
{
    position: absolute;
    max-width: 90%;
    top: 10%;
    left: 10%;
}

img.ri-9:empty
{
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


